*{
    font-family:Verdana, "Times New Roman", sans-serif;
    background-color: aqua;
}

#cover-pic{
    text-align: center;
    margin-top: 5px;
}
.pic{
    height: auto;
    width: 300px;
}

.name{
    text-align: center;
    margin: 10px auto;
}
h1.name{
    margin-bottom: 20px;
}
.menu-list{
    text-align: center;
    margin: 0 auto;
}
.menu{
    display: inline-block;
    text-align: left;
    border: 2px solid black;
}
.return{
    text-align: left;
}

p{
    margin: 0 auto;
    padding: 10px 100px;
}
